.Saver-Page {

}

.Saver-Page--Top-Bar {
    display: flex;
    justify-content: space-between;
}

.Saver-Page--Saved-Header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Saver-Page--Search-Container {
    height: 3em; 
    display: flex;
    width: 100%;
}

.Saver-Page--Search-Container-Input{
    height: 100%;
    padding: 0;
    width: 100%;
    margin-right: 1em;
}

.Saver-Page--Search-Container-Icon {
    height: 100%;
    border: 0.1em solid black;
    display: flex;
    width: 3em;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em 0.1em;
}  
.Saver-Page--Search-Container-Icon svg {
    height: 2em;
    width: 2em;
}

.Saver-Page--Tweet-Container-Wrapper {
    display: flex;
    padding-top: 1em;
}

.Saver-Page--Tweet-Container-Wrapper-Guidence {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    flex-direction: column;
}
.Saver-Page--Tweet-Container-Wrapper-Guidence svg {
    width: 3em;
    height: 4em;
}
.Saver-Page--Tweet-Container-Wrapper-Guidence p {
    text-align: center;
    margin: 0;
}

.Saver-Page--Search-Status {
    padding-top:1em;
}