.Tweet {
    padding: 1em;
    border-bottom: 0.1em solid gray;
    display: flex;
}

.Tweet-profilePicture {
    width: 3em;   
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 1em;
}

.Tweet-profilePicture svg {
    height: 3em;
    width: 3em;
}

.Tweet-TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Tweet-content-right {
    display: flex;
    flex-direction: column;
}

.Tweet-TopBar-names {
    display: flex;
    align-items: center;
}

.Tweet-twitterHandle {
    padding-left: 1em;
}